<h2> Edit Line </h2>
<div class="well">

<%= form_for(@line) do |f| %>
<div class="form-group">
<%= f.label :color %>
<%= f.text_field :color %>
</div>


  <br />
  <br />
<%= f.submit(:class => "btn btn-primary") %>
<% end %>

</form>
  </div>
