<br />
<br />
<br />
<br />
<br />
<div class ="lines">
<div class="well">
<h2> Disney Bus System </h2>

<ul>
  <% @lines.each do |line| %>

<li class="no_dot">
    <%= link_to line.color, line_path(line), :class => "btn btn-default" %>
</li>
  <% end %>
</ul>
</div>
</div>
<div class = "stations">
<div class = "well">
<h2> Disney Bus Stations: </h2>
<ul>
  <% @stations.each do |station| %>
  <li class="no_dot"> <%= link_to station.name, station_path(station), :class => "btn btn-danger" %>
  </li>
    <% end %>
</ul>
</div>
</div>


