<h1><%= @station.name %></h1>
<br />
<br />
<h4> Buses that stop here: </h4>
<ul>
  <% @station.lines.each do |line| %>
   <li> <%= line.color %> </li>
    <% end %>
</ul>



<p><%= link_to "Edit", edit_station_path(@station), :class => "btn btn-default inline" %></p>
<p><%= link_to "Delete", station_path(@station),
                         :confirm => "You sure?",
                         :method => "delete",
                         :class => "btn btn-danger inline" %></p>
