<!DOCTYPE html>
<html>
<head>
  <title>BusSystem</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

<%= yield %>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
 <br />
    <a href="/lines">Home</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <a href="/lines/new">Add a line to the system</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <a href="/stations/new">Add a station</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <a href="/buses/new">Add a bus</a>


  </div>
</div>
</nav>
</div>
</body>
</html>
